@import 'variables';

body.episode{
	font-family:$oxygen;
	color: $dark_gray;
	padding: 0 10%;
	h1{
		color: $dark_gray;
		font-family: $roboto;
	}
	a{color: $gray;}
	a:visited{color: $light_gray;}
	p{
		font-size: 1.25rem;
	    line-height: 2.25rem;
	}
}
.back a, .forward a{
	display: inline-block;
	font-size: 3rem;
	color: $gray;
	&:visited{color: $light_gray;}
}
.back{float: left;}
.forward{float:right;}
.oldest, .newest{pointer-events: none;}
.comments{
	background-color: $offwhite;
}