@import 'variables';

#banner{
	width: 100%;
	height: 100%;
	background-image: url('/assets/banner.jpg');
	background-size: contain;
	position: absolute;
	h1{
		color: #fff;
		font-family: $orbitron;
		margin-top:20%;
	}
	.banner-link{
		a{
			color: #fff;
			font-family: $orbitron;
			text-decoration: none;
		}
	} 
}
.episode-container{
	position: absolute;
	top: 100%;
	height: 100%;
	width: 100%;
	font-family: $oxygen;
	.home-episode{
		padding: 5% 10%;
		color: $dark_gray;
		p{
			font-size: 1.25rem;
		    line-height: 2.25rem;
		}
	}
}