$orbitron: 'Orbitron', sans-serif;
$oxygen: 'Oxygen', sans-serif;
$roboto:'Roboto', sans-serif;

$white: #FFF;
$offwhite: #FCFAF2;
$light_gray: #AEACBF;
$gray: #424366;
$dark_gray: #424242;
$black: #000;
