<div id="menu">
	<div class="row">
		<div class="nav small-12 medium-12 large-12 columns">
			<span class="menu-item"><a href="/#current">Current Episode</a></span>
			<span class="menu-item"><%= link_to("Past Episodes", episodes_path) %></span>
			<!-- <span class="menu-item"><a href="/characters">Characters</a></span> -->
		</div>
	</div>
</div>