<div class="row">
	<div class="menu small-12 medium-12 large-12 columns">
		<span class="menu-item"><a href="/#current">Current Episode</a></span>
		<span class="menu-item"><%= link_to("Past Episodes", episodes_path) %></span>
		<span class="menu-item"><a href="/characters">Characters</a></span>
	</div>
</div>
<div class="row">
	<div class="left-side small-12 medium-12 large-12 columns">
		<%= yield %>
	</div>
</div>